* {
    background-color: ivory;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Verdana, sans-serif;
    hyphens: auto;
    text-align: justify;
    font-size: 28px;
}

img {
    margin: auto;
    display: block;
}

.cropped {
    object-fit: cover;
    height: 600px;
    object-position: 0% 57%;
}

.body-container {
    width: 920px;
    margin: auto;
}

.description {
    margin: auto;
    text-align: center;
    width: 760px;
    hyphens: none;
}

body .heading {
    font-family: system-ui;
    color: rgba(13, 53, 15, 0.8);
}

h1.heading {
    text-align: center;
    font-size: 80px;
    color: rgb(58, 0, 0);
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 38px;
}

p,
ul,
ol,
.main-list {
    line-height: 1.5;
}

.main-list {
    text-align: center;
    list-style: none;
    font-size: 42px;
    padding-left: 0;
}

.main-list a {
    text-decoration: none;
    color: rgb(14, 0, 78);
}

p,
ul,
ol {
    margin-bottom: 64px;
}

ul,
ol {
    padding-left: 33px;
}

ol li {
    margin-bottom: 14px;
}
